[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aiohttp = "*"
click = "*"
thoth-analyzer = "*"
thoth-common = "*"
attrs = "*"
beautifulsoup4 = "==4.6.3"
lxml = "*"
semantic-version = "*"
pyelftools = "*"
packaging = "*"
setuptools = "*"
toml = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
flexmock = "*"
pytest-mypy = "*"
typeshed = "*"

[requires]
python_version = "3.6"
