[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiohttp = "*"
attrs = "*"
beautifulsoup4 = "*"
click = "*"
lxml = "*"
packaging = "<22"
pyelftools = "*"
requests = "*"
thoth-analyzer = "*"
thoth-common = "*"
toml = "*"

[dev-packages]
flexmock = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mypy = "*"
pytest-timeout = "*"

[requires]
python_version = "3.8"
